html{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin-left: 35%;
    margin-right: 35%;
}

.container{
    background-color:beige;
}

.espacio{
    margin-bottom: 5%;
}

.col{
    border:1px;
    border-style: solid;
}

.primerboton{
    margin-top: 2%;
    margin-bottom: 7%;
    margin-left: 47%;
}

.botones{
    display: none;
}

.boton{
    margin-top: 2%;
    margin-bottom: 7%;
    margin-left: 27%;
}

.fotos{
    margin-top: 2%;
}

.foto{
    width: 40%;
    margin-left: 30%;
}

.casilla{
    background-color: beige;
}




